html {
    margin: 1em;

}

h1 {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;   
}

h3 {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

form {
    width: -moz-fit-content;
    margin-left:auto;
    margin-right:auto;
}

.btn {
    margin-top: 2em;
    margin-left:auto;
    margin-right:auto;
}

li.player {
    list-style-type: none;
    padding: .2em;
    border-radius: 25px;
    color: #fff;
    text-align: center;
}

li.alive {
    background: #32b643;
}

li.me {
    background: #5755d9;
}

li.dead {
    background: #e85600;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    grid-template-areas:
    "header header header header"
    "side map map ."
    "side map map ."
    "side main main ."
    "footer footer footer footer";
}

#map {
    height: 100%;
}

.grid {
    padding: 20px;
}

.grid-header {
    grid-area: header;
}

.grid-main {
    grid-area: main;
}

.grid-footer {
    grid-area: footer;
}

.grid-side {
    grid-area: side;
}

.grid-map {
    grid-area: map;
    height: 600px;
}
